/*Paelta de colores
#0CB1F2 azul claro
#EDEDE8 gris login, register
#0D0D0D negro 
#1B51F2 azul oscuro footer
#5E90F2 azul Medio claro nav
#23459F azul extra*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*adaparta el contenido de la caja*/
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    /*determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor*/
}

.soliservicio >h1{
    color: #0D0D0D;
    font-size: 30px;
    margin: 2% 0%;
    text-align: center;
    font-weight: bold;
}

.soliservicio >p{
    color: #0D0D0D;
    font-size: 18px;
    margin: 2% 4%;
    text-align: left;
    font-weight: bold;
}

.formServicio {
    width: 90%;
    height: auto;
    margin: 5% auto;
    border-radius: 15px;
    padding: 25px 35px;
    margin-top: 5%;
    background-color: #EDEDE8;
    
}

.formServicio> input, label, button, select {
  
    width: 100%;
    margin: 2% 0%;

}


.formServicio>input {
    padding: 12px 2px;
    border-radius: 8%;
    outline: none;
    border-radius: 5px;
    border: 0;
    width: 40%;
    display: inline-block;
}

.formServicio>label {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    font-size: 11px;
 
}

.formServicio>select{
    width: 20%;
    padding: 10px;
    border-radius: 7%;
    border: 0;
}

.btnServicio {
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    margin: 2% 3%;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    width: 15%;
    
}

.btnServicio:hover{
    background: linear-gradient(90deg, rgba(110,240,234,1) 0%, rgba(9,85,121,0.5466561624649859) 0%, rgba(6,198,237,1) 53%);

}
