/*Paelta de colores
#0CB1F2 azul claro
#EDEDE8 gris login, register
#0D0D0D negro 
#1B51F2 azul oscuro footer
#5E90F2 azul Medio claro nav
#23459F azul extra*/
* {

    box-sizing: border-box;
    /*adaparta el contenido de la caja*/
}

body {
 
    background-attachment: fixed;
    /*determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor*/
}

.soliservicio{

    border-radius: 8px;
    border: 5px solid #0CB1F2;
    margin: 3% 5%;
}

.soliservicio>h1 {
    color: #0D0D0D;
    font-size: 30px;
    margin: 2% 0%;
    text-align: center;
    font-weight: bold;
}

.soliservicio>p {
    color: #0D0D0D;
    font-size: 18px;
    margin: 2% 4%;
    text-align: left;
    font-weight: bold;
}

.formServicio {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 83%;
    margin: 5% auto;
    border-radius: 15px;
    padding: 3% 40px;
    margin-top: 5%;
    background-color: #EDEDE8;
}

.forLabelServ {

    display: block;
    font-weight: 700;
    padding: 10px;
}

.forGrupoServInput {

    position: relative;
}

.formInputGod {

    width: 90%;
    border-radius: 8px;
    padding: 12px 2px;
    outline: none;
    border: 0;

}

.servicioTipo {

    width: 90%;
    padding: 12px 2px;
    border-radius: 8px;
    border: 0;
}

.btnServicio {
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 8px 30px;
    margin: 7% 3%;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    width: 45%;

}

