*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*adaparta el contenido de la caja*/
}

/*seccion de ofertas*/
.tilteproductos{
   
    text-align: center;
    text-decoration: none;

}
.ofertas{
    width: 80%;
    height: auto;
    background-color:#EDEDE8;
    border-radius: 3%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    position: relative;
    left: 10%;

}
.ofertas>div{
    display: inline-block;
    margin: 10px;
    padding: 5px;
     width: 20%;
     height: auto;
     text-align: center;
     border: 6px solid #0cb1f29a;
     border-radius: 5%;
     box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}
.ofertas>div:hover{
    width: 22%;
    height: 22%;
    background-color: rgba(0, 0, 0, 0.082);
    transition: 0.5s;

}

.imgofer{
    width: 60%;
    height: 40%;

}
.botonproof{
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 8px 20px;
    margin: 2% 3%;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    width: 50%;
}
.botonproof hover{
    background: linear-gradient(90deg, rgba(110,240,234,1) 0%, rgba(9,85,121,0.5466561624649859) 0%, rgba(6,198,237,1) 53%);
}



/*seccion de categorias*/
h2{
    text-align: center;
    margin: 20px;
}
.categoria{
    width: 80%;
    height: auto;
    background-color:#EDEDE8;
    border-radius: 3%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    position: relative;
    left: 10%;
}
.categoria>div{
    display: inline-block;
    margin: 8px;
    padding: 2px;
     width: 15%;
     height: auto;
     text-align: center;
     border: 6px solid #0cb1f29a;
     border-radius: 5%;
     box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
}
.categoria>div:hover{
    background-color: rgba(0, 0, 0, 0.082);
    transition: 0.5s;
}
.imgcate{
   width: 60%;
   height: auto; 
}

/*seccion productos*/

.productos{
    width: 50% ;
    height: auto;
    background-color:#EDEDE8;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    left: 25%;
    border-radius: 5%;
    
}

.cardspro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
 
}

.cardspro>div{
   margin: 20px;
   padding: 5px;
    width: 30%;
    height: auto;
    text-align: center;
    border: 6px solid #0cb1f29a;
    border-radius: 5%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.imgpro{
    width: 60%;
    height: 30%;
    margin: 5px;
}
.cardspro>div:hover{
    width: 35%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.082);
 transition: 0.5s;
}



.botonpro{
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 6px 10px;
    margin: 2% 3%;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    width: 50%;
}



.botonpro :hover{
    background: linear-gradient(90deg, rgba(110,240,234,1) 0%, rgba(9,85,121,0.5466561624649859) 0%, rgba(6,198,237,1) 53%);
    height: 60%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*carrito de compras*/
.containercarrito{
    width: 100%;
    height: auto;
    background-color: #EDEDE8;

}

.h1carrito{
    text-align: right;
    width: 100%;
   
}


.pagocarrito{
    width: 14%;
    text-align: center;
    background-color: #EDEDE8;
    margin: 0;
    margin-left: 0;

}
.butoncarrito{
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border: 0;
    width: 10%;

}
.butoncarrito :hover{
    width: 2px;
    background-color: aqua;
}
.pagocarrito{
    border-radius: 8%;
    outline: none;
   
}



