/*Paelta de colores
#0CB1F2 azul claro
#EDEDE8 gris login, register
#0D0D0D negro 
#1B51F2 azul oscuro footer
#5E90F2 azul Medio claro nav
#23459F azul extra*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*adaparta el contenido de la caja*/
}
body {

    background-attachment: fixed;
    /*determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor*/
}
.quiensomos {
    width: 90%;
    height: auto;
    padding: 30px;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 5%;
    border-radius: 10px;
    border:  5px solid #0CB1F2 ;
    
}

.somoslogo{
    width: 90%;
    height: 30%;
    border-radius: 7%;
}

.quiensuport{

    display: inline-block;
    
}

.quiensomos>div>h1 {
    color: #0D0D0D;
    font-size: 20px;
    text-align: left;
    margin: 8% 0%;
    font-weight: bold;
}

.quiensomos>div>h2 {
    color: #0D0D0D;
    font-size: 20px;
    margin: 4% 0%;
    text-align: left;
    font-weight: bold;
}

.quiensomos>div>p {
    color: #0D0D0D;
    font-size: 20px;
    margin: 2% 0%;
    text-align: left;



}

.quiensomos>div>label{

    display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.btnSomos {
    background: #0CB1F2;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    margin:  1% 0%;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    display: block;
    border: 0;
    

}


.abajoSomosF>div>p {
    color: #0D0D0D;
    font-size: 20px;
    margin: 2% 0%;
    text-align: center;
    font-weight: bold;

}


.abajoSomosF>div{

    display: inline-block;
    position: relative;
    left: 10%;
    width: 25%;
    margin: 3% 0%;
    display: inline-block;
    left: 12%;
    width: 25%;
    justify-items: center;

}

.abajoSomosF>div>img{

    width: 15%;
    height: 20%;
    position: relative;
    left: 40%;


    
}